body {
    padding: 4%;
    background-color: rgb(152, 176, 207);
}

.meuNome {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.descricao {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 30%;
    right: 28%;
    text-align: center;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.ondeMoro {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(22, 22, 22);
}

.Photoshop {
    color: rgb(17, 52, 103);

}

.Illustrator {
    color: rgb(126, 92, 28);
}

.formacao {
    color: rgb(15, 61, 90);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

a {
    color:black; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

#foto {
    float: left;
    height: 280px;
    padding: 10px; 
    background-color: rgb(28, 86, 151);
}

.image-container {
    height: 300px;
    position: relative;

}

ul li:nth-child(odd) {
    color:rgb(81, 61, 171);
}


